* {
  box-sizing: border-box;
}
.wrap {
  width: 500px;
  background-color: black;
  margin: 20px auto;
  padding: 20px;
}
.btn {
  margin: 20px auto;
  display: flex;
  flex-direction: column;
  align-items: center;

  justify-content: center;
  width: 200px;
  height: 50px;
  cursor: pointer;
}
.link {
  text-transform: uppercase;
  text-decoration: none;
  font-style: normal;
  font-weight: 700;
}
.btn-one {
  position: relative;
  background-color: rgb(22, 200, 138);
  border-radius: 25px;
  color: whitesmoke;

  margin-bottom: 24px;
}

.wrap_btn {
  width: 100%;
  background-color: #f12c2c;
  padding-top: 40px;
  padding-bottom: 40px;
}
.btn-two {
  position: relative;
  background-color: #ef5f5f;
  color: white;
  transition: letter-spacing 0.5s;
  transform-origin: center;
}
.btn-two:hover {
  letter-spacing: 2px;
  background-color: transparent;
}
.btn-two::before,
.btn-two::after {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  background-color: white;
  transition: width 0.5s;
  transform-origin: center;
}
.btn-two::before {
  top: 0;
}
.btn-two::after {
  bottom: 0;
}
.btn-two:hover::before,
.btn-two:hover::after {
  width: 100%;
}

.btn-three {
  background-color: #ef5f5f;
  border-radius: 10px;
  color: white;
  padding: 0 10px;
}
.wrap-btn__three {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.btn-wrap {
  width: 2px;
  height: 200%;
  background-color: #943838;
}
.btn-link-three__text,
.btn-wrap {
  opacity: 1;
  transition: opacity 0.9s;
}
